.infoProfile {
    width: 35%;
    max-width: 415px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
    transition: all ease 0.5s;
}

.infoProfile--head {
    display: flex;
    background-color: #00BFA5;
    align-items: center;
    padding: 60px 15px 15px 15px;
}

.infoProfile--backbutton {
    width: 40px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.infoProfile--headtitle {
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    flex: 1;
    font-weight: bold;
    color: #FFF;
    margin-left: 20px;
}

.infoProfile--information {
    height: 50%;
}

.infoProfile--avatar {
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.infoProfile--avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.infoProfile--name {
    height: 20%;
    font-size: 30px;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}